.login-container {
  background-color: #5cabff;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.login-form-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px !important;
  -webkit-box-shadow: -1px -1px 31px -12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 31px -12px rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 31px -12px rgba(0, 0, 0, 0.5);
}

.ant-form-item {
  margin-bottom: 8px !important;
}
